/*==================\*
-----Common-CSS------
/*====================*/


body {
    margin:0px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/*==================\*
-----CSS Utility------
/*====================*/

:root{
    --main-color:#DFD3C3;
    --tittle-color:#596E79;
}

.container{
    margin: 0px 110px;
}

.tittle-handle{
    font-family: 'Raleway', sans-serif;
    color: var(--tittle-color);
}

p{
    color: var(--tittle-color);
    font-weight: bold;
    padding: 0px;
    margin: 5px 0px;
}

.btn{
    background-color: #FF4301;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    cursor: pointer;    
}
/*==================\*
-----Top Header------
/*====================*/

#top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-header-right, ul, li {
    display: flex;
}

.t-header-right .fas,
li a {
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: bold;
}

/*==================\*
-----Main Header------
/*====================*/
#main-header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-header-l h1{
   
    font-size: 50px;
}
.m-header-l p{
   font-weight: bold;
    width: 75%;
    line-height: 1.4;
    
    
}


.side-border{
    
    height: 500px;
    width: 500px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}
.bg-color{
    
    margin: 80px auto;
    height: 350px;
    width: 350px;
    background: var(--main-color);
    border-radius: 50%;
}

.m-header-r img{
    margin: -45px;
}

.m-header-r img:hover{

   transform: scale(1.1);
   transition: 1s;

}

/*==================\*
-----Logo Section Area------
/*====================*/

#logo-section{
    
  
}

.all-logos{
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo>img{
    width: 100%;
}

hr {
    height: 2px;
    border: 0;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), var(--main-color), rgba(0, 0, 0, 0));
    
}

/*==============================\*
-----Products Section Area------
/*==============================*/
.product-tittle{
    text-align: center;
    margin-bottom: 0px;
    font-size: 40px;
}
#all-products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 70px;
    
    
}

.product{
    border-radius: 5px;
    padding: 15px;
    background: white;
    box-shadow: 1px 1px rgb(252, 250, 250), -.01em 0 .4em rgb(177, 177, 173);
}
.product img{
    width: 100%;
    text-align: center;
    
}

.product h2, .product h3 {
    color: #000;
    
}


.rating{
    display: flex;
    align-items: center;
    

}
.rating .fas{
    margin-right: 1px;
    font-size: 10px;
    color: #FFA931;
    
}
.rating p{
    margin: 5px;
    font-weight: bold;
    
}

/*==============================\*
-----Footer Area------
/*==============================*/

#footer-area{
    background: #000;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}
#footer-area h2{
    color: white;
    margin-bottom: 10px;
}

.s-icon .fab{
margin: 10px;
padding: 5px;
background-color: var(--main-color);
border-radius: 50%;
cursor: pointer;
}

.fa-instagram-square{
    color: #c32aa3;
}
.fa-twitter{
    color: #55acee
    ;
}
.fa-dribbble{
    color: #ea4c89;
}
.fa-youtube{
    color: #cd201f;
}